.header {
  position: sticky;
  top: 0;
  z-index: 20;

  height: 10vh;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    height 0.5s ease,
    background 0.5s ease;

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header__nav {
    display: flex;
    gap: 48px;
    transition: gap 1.2s ease;

    a,
    button {
      font-family: "Lora", serif;
      font-size: 16px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: var(--text-color);
      background: none;
      border: none;
      text-decoration: none;
      cursor: pointer;  
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .header__dropdown-wrapper {
    position: relative;
  }

  .header__dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .header__caret {
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s ease;

    img {
      width: 12px;
      height: auto;
    }

    &--rotated {
      transform: rotate(180deg);
    }
  }

  .header__dropdown-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    padding: 16px 0;
    min-width: 320px;
    z-index: 1000;
    animation: fadeIn 0.2s ease;

    &--up {
      bottom: calc(100% + 12px);
    }

    &--down {
      top: calc(100% + 12px);
    }
  }

  .header__dropdown-item {
    background: #2E2D2D !important;
    border-radius: 50px;
    display: flex;
    width: 316px;
    height: 60px;
    align-items: center;
    padding: 12px 24px;
    margin: 8px 0;
    font-family: "Lora", serif;
    font-size: 16px !important;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      background: rgba(0, 0, 0, 0.9);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-50%) translateY(-4px);
    }
    to {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
  }

  .header__logo {
    display: inline-block;
    
    img {
      width: 500px;
      height: auto;
      transition: width 1.2s ease;
      transform: translateY(-50px);
    }
  }
}

.header--scrolled {
  height: 10vh;
  background: rgba(8, 8, 8, 0.95);
  backdrop-filter: blur(6px);

  .header__logo img {
    width: 140px;
    transform: translateY(0px); 
  }
  .header__nav {
    gap: 150px;
  }
}